
    <div class="row-fluid main_header">
     <div class="span6"><h1 class="upper">Cut My Hair</h1></div>


  


	</div><!-- end of row-fluid-->

	<div class="row-fluid" id="black_bar">
		
	 <div class="span6 bar_bg"></div>
	</div><!-- end of bar_black-->
	
	<div class="row-fluid" id="orange_bar" >
		<div class="span3 offset9 orange_bg"></div>
		
	</div>
  <div id="hairstyles">
	<% Hairstyle.all.each do |hairstyle| %>
		<%= hairstyle.name %>
		<%= hairstyle.count %>
	<% end %>
  </div>