$blacks: #222;
$oranges: #ee712a;
@mixin uppercase {
 text-transform:uppercase;
 font-size:62px;
 text-align:right;

}
@mixin top_padding{
	padding-top:30px;
}
html, body{height:100%;}

.upper{@include uppercase;}
.main_header{@include top_padding;}
.bar_bg{background:$blacks}
.orange_bg{background:$oranges;bottom:0;}